.all-patient-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.add-patient-container {
	display: flex;
}

.right {
	margin-left: auto;
	background-color: blue;
	color: rgb(243, 243, 243);
	padding: 12px;
}

.no-u
{
	text-decoration: none;	
}

.hide
{
	display: none;	
}