.accordion {
	width: 100%;
	margin-top: 2rem;
	background-color: rgb(228, 228, 228);
}

@media screen and (min-width: 40em) {
	.accordion {
		width: 100vw;
	}
}

@media screen and (min-width: 60em) {
	.accordion {
		width: 80vw;
	}
}

.accordion-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	background-color: #21aeca;
	border-radius: 6px 6px 0 0;
}

.accordion-header:hover {
	background-color: #3ab4cc;
}

.accordion-icon
{
    margin-left: auto;
    margin-right: 1rem;
}

.accordion-title
{
    margin-top: 5px;
    margin-left:auto; 
}

.accordion-header,
.accordion-content {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.accordion-content {
	/* background-color: #39b9d2; */
	border: 1px solid #21aeca;
	width: 100%;
    /* padding: 2px; */
    border-radius: 0 0 6px 6px
}

@media screen and (max-width: 700px) {
	/* body {
    font-size: 18px;
  } */

	/* .accordion {
    width: 90%;
  } */
}
