.input-container {
	display: flex;
	flex-direction: row;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	margin: 10px;
	flex: 1;
	min-width: 15em;
}
.input-item {
	border: 0;
	color: #737573;
	flex: 1;
}

.white {
	background-color: white;
}