.cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: center;
}

.charts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
}

.chart {
	width: 100%;
}

@media screen and (min-width: 40em) {
	.chart {
		width: 100vw;
	}
}

@media screen and (min-width: 60em) {
	.chart {
		width: 80vw;
	}
}
