.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	flex: 1 0 500px;
	box-sizing: border-box;
	margin: 1rem 0.25em;
	background-color: antiquewhite;
}

@media screen and (min-width: 40em) {
	.card {
		max-width: calc(50% - 1em);
		border: 2px solid green;
	}
}

@media screen and (min-width: 60em) {
	.card {
		max-width: calc(25% - 1em);
		border: 2px solid blue;
	}
}