.accordion {
	width: 100%;
	background-color: rgb(228, 228, 228);
}

@media screen and (min-width: 40em) {
	.accordion {
		width: 100vw;
	}
}

@media screen and (min-width: 60em) {
	.accordion {
		width: 80vw;
	}
}

.accordion-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
}

.accordion-content {
	border-top: 0;
	width: 100%;
}